@{
    ViewData["Title"] = "Home Page";
}
<!-- Home Page Content -->
<div class="row">
    <div class="col-md-6  mainPage">
        <h1>Welcome to Restaurant Inventory</h1>
        <p>Your one-stop solution for managing restaurant supplies and inventory. Sign up or log in to get started.</p>
   
    </div>
    <div class="col-md-6 ">
        <img class="homeImage" src="https://assets-global.website-files.com/59b85cfc56db830001760b29/6228fc0d3c5130cac8f19c09_Why%20Restaurant%20Inventory%20Management%20Matters.jpg" />
    </div>
</div>